* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

p {margin: 0px;}

.container {
    padding-top: 10px;
    padding-bottom: 20px;
}

.list-group button {
    background-color: transparent;
    border: none;
}

.flex_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* GENERAL INPUTS */
input[type="submit"] {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #E2FAFC;
}
input[type="submit"]:hover {
  background-color: #C5F6FA;
  box-shadow: 2 3px #666;
}
input[type="submit"]:active {
  background-color: #10A5B2;
  box-shadow: 2 3px #666;
  transform: translateY(3px);
  transform: scale(0.9,0.9);
}

.users div:first-child {
    text-align: center;
    margin-bottom: 20px;
}

/* INDEX */
.index h1 {
    text-align: center;
}
.index div {
    margin-top: 10px;
    text-align: center;
}

.index .login-sign_up {
    background-color: #C5F6FA;
    padding: 30px 0px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px lightblue;
}
.index .login-sign_up a {
    margin-top: 20px;

}

/* ADD USER */
.div_form {
    display: flex;
    align-content: center;
    justify-content: center;
}
.div_form form {
    display: block;
    width: auto;
    padding: 10px 0px;
    text-align: center;
}
.div_form form h1 {
    text-align: center;

}
.div_form form ._input {
    padding: 20px 0px;

}
.div_form form ._input input[type="text"] {
    margin: 0px 10px;

}
.div_form form .msg p {
    color: #56ABB3;

}


.show_movies .row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.show_movies .row .col p {
    font-size: 20px;

}
.show_movies .row .col span {
    font-size: 20px;
    color: gray;
}
.show_movies .row .col .movie_info {
    padding: 30px;
}
.show_movies .row .col .poster img {
    height: 100%;

}
.show_movies .row .col .div_button {
    padding: 20px 0px;
}

.show_movies .row .col .div_note p {
    font-size: 11px;
    color: gray;
}
