* {
  box-sizing: border-box;
}

body, html {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* GENERALS */
h1, h2 {
    margin: 0px;
    line-height: 90%;
}
p {margin: 0px;}

.flex_column_center_center {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    padding-top: 30px;
    padding-bottom: 20px;
    width: 70vw;
}

.flex_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex_center {
    text-align: center;
}


/* GENERAL INPUTS */
input[type="submit"] {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #E2FAFC;
}
input[type="submit"]:hover {
  background-color: #C5F6FA;
  box-shadow: 2 3px #666;
}
input[type="submit"]:active {
  background-color: #10A5B2;
  box-shadow: 2 3px #666;
  transform: translateY(3px);
  transform: scale(0.9,0.9);
}

.users div:first-child {
    text-align: center;
    margin-bottom: 20px;
}

/* LAYOUT MENU BAR */

.bar_menu h2 {
    margin: 10px 0px 10px 10px;
}
.bar_menu button {
    border-radius: 5px 5px 0px 0px;
    margin-right: 5px;
}


.list-group button {
    background-color: transparent;
    border: none;
}

.hello_user {
    display: flex-block;
    text-align: right;
}


/* INDEX */
.index {
    margin-top: 6vh;

}
.index .welcome {
     display: flex;
     flex-direction: column;
     justify-content: center;
}
.index .welcome h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 0px
}
.index div {
    text-align: center;

}
.index section p {
    padding: 10px;
    text-align: center;
}
.index .login-sign_up {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #275459b;
    margin-top: 50px;
    padding: 30px 0px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.3);
}
.index .login-sign_up a {
    margin-top: 20px;

}

/* ADD USER */
.add_user {
    display: flex;
    align-content: center;
    justify-content: center;
}
.add_user form {
    display: block;
    width: auto;
    padding: 10px 0px;
    text-align: center;
}
.add_user form p {
    margin-top: 10px;
}
.add_user form h1 {
    text-align: center;

}
.add_user form ._input {
    display: flex;
    padding: 20px 0px;
    align-items: center;
}
.add_user form ._input input[type="text"] {
    margin: 0px 10px;

}
.add_user form .msg p {
    color: #56ABB3;

}


/* USER MOVIES */

.section_movie .col_movie {
    padding: 40px;
}
.section_movie .row_movie {
    display: flex;
    height: 100%
}

.section_movie .col_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}
.section_movie .table {
    margin-top: auto;
}
.section_movie .movie_options {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: auto;
}


/* ADD MOVIE */
.show_movies .row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.show_movies .row .col p {
    font-size: 20px;

}
span {
    font-size: 20px;
    color: gray;
}
.show_movies .row .col .movie_info {
    padding: 30px;

}
.show_movies .row .col .poster img {
    height: 100%;

}
.show_movies .row .col .div_button {
    padding: 20px 0px;

}
.show_movies .row .col .div_note p {
    font-size: 11px;
    color: gray;
}


/* DELETE MOVIE */
._delete h1 {
    text-align: center;
    color: red;
}
._delete .flex_center {
    margin-top: 20px;
}

/* UPDATE MOVIE*/
.update .div_form form .update_img {
    text-align: right;

}

.update .div_form form .update_img img {
    height: 40vh;
    width: auto;
}


.update .movie_title {
    margin: 10px 0px;
    
}
.update .movie_title h1 {
    padding: 0px;
    
}
.update .div_form {
    display: block;
    
}
.update .div_form form {
    text-align: left;
    display: block;
}
.update .div_form form .row .col-6 {

}
.update .div_form form label {
    margin-top: 20px;
    
}
.update .div_form form input {
    margin: 10px 0px;
    
}
.update .div_form form textarea {
    margin-bottom: 10px;

}
.update .div_form form .div_update_submit {
    width: 100%;
    text-align: center;
}
.update .div_form form .div_update_submit button[type='submit'] {
    width: auto;
    margin-top: 20px;
}
.update .bio_description label {
    font-size: 25px;

}
.update .bio_description span {
    font-size: 16px;
}

.update .bio_description .bio {
    margin-top: 60px;
}

.update .bio_description .bio .col {
    margin: auto;
}
.update .bio_description .bio input {
    width: 100px;
    text-align: center;

}




/* MEDIA QUERIES*/
@media (orientation: portrait) {
    .container {
        width: 90vw;
    }
    .flex_column_center_center {
        justify-content: end;
    }

    .index .col {
        display: flex;
    }

    ._input {
        flex-direction: column;
    }

    .div_form form ._input input[type="text"] {
        margin: 10px 0px;

}

    .update .div_form form .update_img {
    text-align: center;

    .update .div_form .update_img img {
        height: auto;
        width: 70vw;
    }
}

}
