<!-- templates/index.html -->
{% extends "layout.html" %}

{% block title %}
<!-- the title in layout.html -->
Welcome
{% endblock %}

{% block content %}
<!-- the content in the layout -->

  <div class="index flex_center">
    <div class="welcome">
        <h1>WELCOME TO THE</h1>
        <h1><b>MOVI WEB APP</b></h1>
    </div>

    <div class="row">
      <div class="col">
        <div class="login-sign_up">
          <p>
          If you are a registered user<br>
          log in with your username<br>
          to manage your movies<br>
          </p>
          <a href="/users"><button type="button" class="btn btn-primary">user login</button></a>
        </div>
      </div>
      <div class="col">
        <div class="login-sign_up">
          <p>
          If you are not registered<br>
          create a username<br>
          to access the application<br>
          </p>
          <a class="nav-link" href="/add_user"><button type="button" class="btn btn-primary">sign up</button></a>
        </div>
      </div>
    </div>
    <section class="flex_column_center_center">
      <p>Make a catalogue of your favourite movies and get information about classic and new films.</p>
    </section>
  </div>

{% endblock %}