<!-- templates/index.html -->
{% extends "layout.html" %}

{% block title %}
<!-- the title in layout.html -->
user movies
{% endblock %}

{% block content %}
<!-- the content in the layout -->
<div class="update">
  <h1><b>UPDATE MOVIE</b></h1>
  <div class="div_form">
    <form action="" method="POST">
      <div class="movie_title">
        <h1>{{ movie.title }} <span>{{ movie.year }}</span></h1>
      </div>
      <div class="row">
        <div class="col-sm-6 update_img">
          <img src="{{ movie.poster }}" alt="The cover is not available" style="max-height: 80%;">
        </div>

        <div class="col-sm-6">
          <label for="rating"><b>Rating</b></label><br>
          <input type="number" id="rating" name="rating" placeholder="{{ movie.rating }}">
          <br>
          <label for="genre"><b>Genre</b></label><br>
          <input type="text" id="genre" name="genre" placeholder="{{ movie.genre }}">
        </div>

        <div class="description">
          <label for="description"><b>DESCRIPTION</b></label>
          <textarea class="form-control" rows="5" id="description" name="text">{{ movie.description }}</textarea>
          <div style="display: block">
            If the DESCRIPTION is missing, click <button type="button" class="btn btn-info">get description</button> to retrieve the information with the GEMINI AI API.
          </div>
        </div>

        <div class="bio">
          <label for="bio_director"><b>BIO DIRECTOR</b> " {{ movie.director.name }} "</label>
          <div>
            <p>
              <b>birth date: </b> {{ movie.director.birth }}
              <b>death date</b> {{ movie.director.death }}
            </p>
          </div>
          <textarea class="form-control" rows="5" id="bio_director" name="text">{{ movie.description }}</textarea>
          <div>
            If the BIO is missing, click <button type="button" class="btn btn-info">get bio</button> to retrieve the information with the GEMINI AI API.
          </div>

        </div>
        <div class="div_update_submit">
          <button type="submit" class="btn btn-warning">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>






{% endblock %}