<!-- templates/index.html -->
{% extends "layout.html" %}

{% block title %}
<!-- the title in layout.html -->
user movies
{% endblock %}

{% block content %}
<!-- the content in the layout -->
<section>
  <div class="row">
    <div class="col">
      <h1>USER</h1>
      <h2>favorite movies</h2>
      <p>You have <b>{{ count_user_movies }}</b> movie/s in your list</p>
    </div>
    <div class="col order-sm-1 hello_user"><p>
      <b>Hello {{ user.name }} !!!</b></p>
      <p>Click here to</p>
      <form action="/users/{{ user.id }}/add_movie" method="POST">
        <button type="submit" class="btn btn-success" name="user_id" value="{{ user.id }}">add a movie</button>
      </form>
    </div>
  </div>
</section>

<section class="section_movie">
  <div class="row">
    {% for movie in movies %}
    <div class="col-md-6 col_movie">
      <div class="row row_movie">
        <div class="col div_poster flex_column_center_center">
          <img src="{{ movie.poster }}" alt="The cover is not available" style="max-height: 80%;">
        </div>
        <div class="col col_content" style="text-align: center;">
          <h1>{{ movie.title }}</h1>
          <span>{{ movie.year }}</span>
          <table class="table">
            <thead>
              <tr>
                <th>genre</th>
                <th>director</th>
                <th>rating</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ movie.genre }}</td>
                <td>{{ movie.director.name }}</td>
                <td>{{ movie.rating }}
            </tbody>
          </table>
          <div class="movie_options">
            <form action="/users/{{ user.id }}/update_movie/{{ movie.id }}" method="GET">
             <button type="submit" class="btn btn-warning">update</button>
            </form>

            <form action="/users/{{ user.id }}/delete_movie/{{ movie.id }}" method="post" style="margin: 0px 10px;">
              <button type="submit" class="btn btn-danger" name="display" value="block">delete</button>
            </form>

            <form action="/info/movie/{{ movie.id }}/user/{{ user.id }}" method="POST">
            <button type="submit" class="btn btn-info" name="info" value="info">&nbsp;&nbsp;&nbsp;Info&nbsp;&nbsp;&nbsp;</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}